@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;800&display=swap');
*{
    border: 1px gray solid;
}
body{
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page{
    flex: 1;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
}
.right-side ul{
    display: flex;
    gap: 25px;
}
.header, .description-container, .footer{
    background-color: #1F2937;
}
.left-side{
    font-size: 24px;
    color: #F9FAF8;

}
.description-container, .information-container, .image-container, .quote-container{
    flex: 1;
}
.text .heading, .header .left-side, button{
    color: #F9FAF8;
}
.text .heading{
    font-size: 48px;
    font-weight: 800;
}
a, .text .description{
    color: #E5E7EB;
    font-size: 18px;
}
button{
    border-radius: 4px;
    border: none;
    padding: 3px 15px;
}
.information-container .heading{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.quote-container, .description-container .image-container{
    background-color: #e5e7eb;
    text-align: center;
}
.sign-up-container, button{
    background-color: #3882F6;

}
.sign-up-container{
    margin: 30px 200px;
}
.sign-up-container button{
    border: 1px #F9FAF8 solid;
}
.description-container{
    display: flex;
    padding: 60px 200px;
    gap: 80px;
}
.text .heading, .text .description{
    margin: 0;
}
.description-container .text, .description-container .image-container{
    flex: 1;
}
.description-container .image-container{
    display: flex;
    justify-content: center;
}
.image-container p{
    padding-top: 80px;
}