*{
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}
.title{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.images > .barberry > img, .images > .chilli > img, .images > .pepper > img, .images > .saffron > img{
    width: 100px;
    height: auto;
}
.images{
    display: flex;
    padding: 12px;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.barberry, .chilli, .pepper, .saffron{
    width: 200px;
    text-align: center;
}